SERVICE_NAME=alert-service
ENVIRONMENT=local
AWS_REGION=ap-northeast-2
DDB_TABLE_SLACK_MESSAGES=log-platform-dev-slack-messages
DDB_GSI_STATUS_CREATED_AT=status-created_at-index
S3_BUCKET_SLACK_MESSAGES=log-platform-dev-slack-messages-<account-id>
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
